In [1]:
import sqlite3 as lite
import pandas as pd

db = lite.connect('/Users/jonghobaeck/Documents/dses/TIL/SQL/190105/products.db')

In [10]:
pd.options.display.max_colwidth = 200

## Query Exercise
수량이 20개가 넘는 주문건에 대하여 월별 총 판매량과 매출, 평균 가격을 구하세요

In [56]:
query = '''
SELECT SUBSTR(O.OrderDate, 1, 7) "MONTH", D.Quantity, P.Price, SUM(D.Quantity) "SalesCount",
SUM(D.Quantity * P.Price) "Revenue", ROUND(AVG(D.Quantity * P.Price), 2) "Average"
FROM OrderDetails D
JOIN Products P
ON D.ProductID = P.ProductID
JOIN Orders O
ON O.OrderID = D.OrderID
GROUP BY SUBSTR(O.Orderdate, 1, 7)
HAVING D.Quantity > 20;
'''
pd.read_sql(query, db)

     MONTH  Quantity  Price  SalesCount   Revenue  Average
0  1996-11        35  33.25        1735  62163.99   941.88
1  1997-01        40   7.45        2401  83400.47   981.18

# noSQL

In [60]:
import requests
from pymongo import MongoClient

In [68]:
mongo_uri = "mongodb://strongadmin:stratocaster94@ds243085.mlab.com:43085/mydbinstance"

In [69]:
client = MongoClient(mongo_uri)

In [72]:
client.mydbinstance.collection_names()

/Users/jonghobaeck/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

['system.indexes', 'users']

In [66]:
db = client.mydbinstance

In [75]:
db["users"] #이렇게 하실 수도 있습니다 db.users

Collection(Database(MongoClient(host=['ds243085.mlab.com:43085'], document_class=dict, tz_aware=False, connect=True), 'mydbinstance'), 'users')

In [76]:
users_collection = db.users

In [77]:
# INSERT INTO users one-by-one
some_user = {
    "name":"Fastcampus Kim",
    "email":"fckim@fastcampus.co.kr",
}

users_collection.insert_one(some_user)

In [78]:
# SELECT * FROM users;
query = {}
users_collection.find_one(query)

{'_id': ObjectId('5c398d82c9ffd251dc8f639d'),
 'name': 'Fastcampus Kim',
 'email': 'fckim@fastcampus.co.kr'}

In [79]:
# 기본 형태 : lots_of_users = [{}, {}, {}]
# INSERT INTO users by chunk
lots_of_users = [
    {
        "name":"jyp",
        "email":"jyp@fastcampus.co.kr",
    }, 
    {
        "name":"gdragoon",
        "address":"Seoul, Korea",
    }, 
    {
        "name":"Sbucks",
    },
]
users_collection.insert_many(lots_of_users)

In [87]:
query = {}
# users_collection.find(query) #이러면 cursor가 튀어나온다. 조회한 데이터가 이 cursor에 들어있는것임
list(users_collection.find(query)) #보통 이런 방식으로 많이 찾아본다.
#이렇게 column을 맞추지 않아도 막 들어간다.

[{'_id': ObjectId('5c398d82c9ffd251dc8f639d'),
  'name': 'Fastcampus Kim',
  'email': 'fckim@fastcampus.co.kr'},
 {'_id': ObjectId('5c399371c9ffd251dc8f639e'),
  'name': 'jyp',
  'email': 'jyp@fastcampus.co.kr'},
 {'_id': ObjectId('5c399371c9ffd251dc8f639f'),
  'name': 'gdragoon',
  'address': 'Seoul, Korea'},
 {'_id': ObjectId('5c399371c9ffd251dc8f63a0'), 'name': 'Sbucks'}]

In [90]:
[item for item in users_collection.find(query)] #이렇게 list_comprehension을 해도 된다
[item["name"] for item in users_collection.find(query)]

['Fastcampus Kim', 'jyp', 'gdragoon', 'Sbucks']

In [97]:
query = {
    "name": 'jyp',
}
list(users_collection.find(query))

[{'_id': ObjectId('5c399371c9ffd251dc8f639e'),
  'name': 'jyp',
  'email': 'jyp@fastcampus.co.kr'}]

In [104]:
#WHERE name IN ('jyp', 'Sbucks')
query = {
    "name":{
        "$in":["jyp", "Sbucks"]
    }
}
list(users_collection.find(query))

[{'_id': ObjectId('5c399371c9ffd251dc8f639e'),
  'name': 'jyp',
  'email': 'jyp@fastcampus.co.kr'},
 {'_id': ObjectId('5c399371c9ffd251dc8f63a0'), 'name': 'Sbucks'}]

## Exercise
Mlab에서 bigbang이라는 collection을 추가한 뒤, 아래의 문장 실행 <br/>
zigb...에 접속해 원하는 동네의 매물 정보에 접근해 추가 <br/>
requests.get을 이용

In [105]:
bigbang_collection = db.bigbang

In [115]:
import requests
zig_url = "https://zigbang.com/search/map?lat=37.6750869750977&lng=126.750701904297&zoom=6"

In [124]:
# Step 2 get real estate data from Zigbang
response = requests.get("https://apis.zigbang.com/v3/items?detail=true&item_ids=[14470986,14328611,14398265,14062510,14455772,14544651,14269988,14187437,14455741,14169764,14512053,14317786,14359880,14164631,14271650,14399002,14398188,14542904,14492032,14536531,14454383,14472148,14538654,14321635,14397994,14398229,14407326,14511262,14398108,14508040,14284983,14359830,14454456,14388831,14507858,14360392,14455800,14324683,14398156,14467241,14448306,14226360,14467013,14317887,14513370,13416109,14165519,14263914,14222733,14254448,14467099,14203858,14328661,14241599,14407024,14138253,14527248,14175178,14147978,14328791]")

In [128]:
response.text #이렇게 하면 string이다
response.json() #이렇게 해야 dictionary type
data = response.json()['items'] #data라고 지정

In [130]:
# Step 3 insert into bigbang_collection
bigbang_collection.insert_many(data)
bigbang_collection.find({}).count()

/Users/jonghobaeck/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  This is separate from the ipykernel package so we can avoid doing imports until

60

In [144]:
#보증금이 2000이하 이거나 월세가 50이하인 매물 검샘 from bigbang_collection
# rent:월세, deposit:보증금
#item key, deposit key를 본거다
query = {
    "$or":[
    {
        "item.deposit":{
        "$lte":2000,
        "$gte":100,
        }
    },
        {"item.rent":{
        "$lte":50,
        }
    }
    ]
}
len(list(bigbang_collection.find(query)))

55

## Exercise Using Naver and BeautifulSoup

In [165]:
# naver realtime keyword using BeautifulSoup
from bs4 import BeautifulSoup
from time import ctime

#데이터 수집
html = requests.get('https://www.naver.com/').text
executed_time = ctime() #Value1 TO BE INSERTED

soup = BeautifulSoup(html, 'html.parser')
kw_list = soup.find('ul', attrs={'class':'ah_l'})
all_li = kw_list.find_all('span', attrs={'class':'ah_k'})

result = [] # Value2 TO BE INSERTED
for li in all_li:
    result.append(li.text)

result
#result = ['', '', '']
#{"executed":"2019-01-12 17:25"},
# "keywords": ["스카이캐슬...", ""]}

#MongoDB collection에 연결해야함
nv_collection = db.nvkwlist

data = {
    "executed":executed_time,
    "keywords":result,
}

nv_collection.insert_one(data)

In [170]:
nv_collection.find_one({})

{'_id': ObjectId('5c39a657c9ffd251dc8f6419'),
 'executed': 'Sat Jan 12 17:33:26 2019',
 'keywords': ['스카이캐슬 스포',
  '주진모',
  '몽키킹3',
  '어뜨무러차',
  '박소연',
  '베트남 이란',
  '음악중심',
  '자이글 롤링쿡스',
  '모아나',
  '청파동 냉면집',
  '만물상아귀찜',
  '신애라',
  '허안나',
  '황교안',
  '미세먼지 비상저감조치',
  '한국 중국',
  '케어',
  '말리와 나',
  'sky 캐슬 스포',
  '쇼음악중심']}